body {
    background-color: darkgray;
}

* {
    box-sizing: border-box;
}

/* рядок із назвою продукту */
.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 25%;
}

.product {
    border: none;
    font-family: "Arial";
    font-size: medium;
    width: 100px;
    margin-left: 22px;
}

.product[value="Помідори"] {
    text-decoration: line-through;
}

/* рядок із кількістю продуктів */
.number-of-products {
    display: flex;
}

.product-number{
    font-family: "Arial";
    width: 23px;
    height: 30px;
    padding: 5px;
}

/* кнопки плюс, мінус */
.plus-button {
    background-color: darkgreen;
}

.minus-button {
    background-color: darkred;
}

.plus-button,
.minus-button {
    border: none;
    align-items: center; /* Вирівнювання тексту по вертикалі */
    justify-content: center; /* Вирівнювання тексту по горизонталі */
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    width: 30px;
    color: white;
    font-family: "Arial";
}

.minus-button,
.product-number,
.plus-button {
    margin-left: 5px;
    font-weight: bold;
    font-size: medium;
}

/* пошук продуктів */
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 25%;
}

.search-field {
    margin-left: 22px;
    width: 700px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    font-family: "Arial";
    color: #4f5762;
}

/* кнопка додати */
.add-button {
    background-color: #225d91;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Arial";
    font-size: medium;
    color: white;
    border: none;
    margin-right: 22px;
    font-weight: bold;
}

.number-only{
    display: flex;
    margin-right: 5px;
}

/* рядок не куплено */
.not-buy-pr{
    display: flex;
}

.not-buy-product{
    border: none;
    background-color: lightgray;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-family: "Arial";
    font-size: medium;
    color: #4f5762;
    margin-right: 22px;
    font-weight: bold;
}

/* рядок куплено */
.buy-pr{
    display: flex;
    margin-right: 22px;
}

.buy-product{
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    padding: 5px;
    font-family: "Arial";
    font-size: medium;
    color: #4f5762;
    font-weight: bold;
}

.not-button{
    margin-left: 10px;
    background-color: darkred;
    font-family: "Arial";
    font-size: medium;
    color: white;
    display: inline-block;
    border-radius: 5px;
    border: none;
}

.box {
    display: flex;
    flex-shrink: initial;
    justify-content: space-around;
}

.block {
    line-height: 89px;
    font-weight: 700;
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
    border-radius: 5px;
    height: 250px;
}

.block.one {
    flex: 2;
}

.block.two {
    flex: 1;
    margin-left: 20px;
}

/* напис залишилося */
.inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 25%;
    font-family: Arial;
    font-weight: bold;
    font-size: large;
}

/* продукти що залишилися */
.other-prod{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 25%;
}

.pr-buy{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-family: Arial;
    font-size: small;
    color: #4f5762;
}

.amount {
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 10px;
    display: flex; /* зміна значення на flex */
    height: 20px;
    width: 20px;
    text-align: center;
    color: white;
    font-family: "Arial";
    margin-left: 2px;
}

.tooltip {
    position: absolute;
    background-color: #643864;
    color: white;
    font-size: small;
    font-family: Arial;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.add-button:hover .tooltip,
.minus-button:hover .tooltip,
.plus-button:hover .tooltip,
.not-button:hover .tooltip,
.not-buy-product:hover .tooltip,
.buy-product:hover .tooltip{
    opacity: 1;
}

.badge{
    position: fixed;
    bottom: -40px;
    left: 10px;
    background-color: #643864;
    color: white;
    font-family: Arial;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    font-size: large;
    transition: bottom 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.badge:hover {
    bottom: 0;
    background-color: #225d91;
}

.badge::after {
    content: "Роботу виконала: \AМельник Марина";
    display: block;
    font-size: small;
    margin-top: 7px;
    margin-bottom: 3px;
    white-space: pre-line;
}

@media print {
    .badge span{
        display: none;
    }
    .badge{
        height: 85px;
        background-color: white;
        color: black;
        margin-bottom: 5px;
        font-size: medium;
        border: 2px solid #643864;
    }
}

@media screen and (max-width: 500px) {
    .box {
        flex-wrap: wrap;
    }

    .block.one{
        width: 450px;
    }

    .block.two {
        margin-top: 10px;
        margin-left: 0;
    }
}